# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc

# Archivos de autenticación
token.json
credentials.json

# Variables de entorno
.env

# PDFs personales
data/originales/
data/sin_password/
data/test/

# Excel generado
data/excel/

# VS Code
.vscode/